<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><block name="title">{$Think.lang.title}</block></title>
    <include file="Layout:head"/>
    <link href="__CSS__/lib/pintuer/pintuer.css" type="text/css" rel="stylesheet"/>
    <link href="__CSS__/common/home/home.css" type="text/css" rel="stylesheet"/>
    <block name="css"></block>
  </head>
  <body>
    <a id="wap-topback" href="javascript:void();" class="win-backtop button button-big bg-main radius-circle show-l" title="返回顶部">
      <span class="icon-arrow-up"></span>
    </a>
    <include file="Layout:left-sidbar"/>
    <include file="Layout:toolbar"/>
    <div id="mainer">
      <block name="mainer"></block>
    </div>
    <include file="Layout:right-sidbar"/>
    <include file="Layout:footer"/>
    <script src="__JS__/lib/jquery/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="__JS__/lib/pintuer/pintuer.js" type="text/javascript"></script>
    <script src="__JS__/lib/respond/respond-1.4.2.min.js" type="text/javascript"></script>
    <script src="__JS__/common/home/home.js" type="text/javascript"></script>
    <block name="js"></block>
    <script src="__JS__/common/home/end.js" type="text/javascript"></script>
  </body>
</html>