<div id="footer" class="panel bg-white">
	<div class="margin-small-top text-center hidden-l">
		<a target="_blank" href="http://www.miitbeian.gov.cn/" title="ICP备案查询">
  		<img class="rec-auth" alt="ICP备案查询" src="__IMG__/icp_check.png"/>
		</a>
		<a target="_blank" title="360网站安全检测" href="http://webscan.360.cn/index/checkwebsite/url/www.zyall.com">
  		<img class="rec-auth" alt="360网站安全检测" src="http://img.webscan.360.cn/status/pai/hash/800cea3ac8f0d37b2624fe21532715f8/?size=74x27"/>
  	</a>
  	<a target="_blank" id="_pinganTrust" title="凭安网站信用认证" href="http://c.trustutn.org/s/zyall.com">
  		<img class="rec-auth" alt="凭安网站信用认证" src="http://c.trustutn.org/images/cert/cert_10_2.png"/>
  	</a>
    <a target="_blank" title="阿里云强力驱动" href="http://whois.aliyun.com/whois/domain/zyall.com">
  	   <!-- <script src="http://c.trustutn.org/show?type=3&sn=201507151001447233"></script> -->
      <img class="rec-auth" alt="阿里云强力驱动" src="__IMG__/aliyun-logo.png"/>
    </a>
	</div>
  <div class="text-center padding-small text-big text-gray2">
    ©<?php echo date('Y'); ?>&nbsp;<a href="/">{$Think.lang.name}</a>&nbsp;版权所有
    <a target="_blank" href="http://www.miitbeian.gov.cn/" title="粤ICP备15018117号">粤ICP备15018117号</a>
  </div>
</div>