<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="baidu-site-verification" content="W0tET5V2ry"/>
<meta property="qc:admins" content="45721577576211446375"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<block name="keywords"><meta name="keywords" content="{$Think.lang.keywords}"/></block>
<block name="description"><meta name="description" content="{$Think.lang.description}"/></block>
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon"/>
<link href="/favicon.ico" rel="bookmark icon"/>