<div id="toolbar" class="bg-black text-center hidden-l">
  <a id="mini-logo" href="/" class="radius-circle tips rotate-hover" data-toggle="hover" data-place="right" title="ZYaller - 传承一生一点一滴" data-style="bg-main border-main">
    <img src="http://www.zyall.com/Public/image/logo.png" alt="{$Think.lang.title}"/>
  </a>
  <a href="javascript:void(0);" class="icon-qq button button-big text-gray border-black radius-circle margin-big-top tips" 
     data-toggle="hover" data-place="right" title="QQ：1308565859" data-style="bg-main border-main"></a>
  <a href="javascript:void(0);" class="icon-weibo button button-big text-gray border-black radius-circle margin-big-top tips" 
     data-toggle="hover" data-place="right" title="新浪微博名：ZYaller" data-style="bg-main border-main"></a>
  <a href="javascript:void(0);" class="icon-weixin button button-big text-gray border-black radius-circle margin-big-top tips" 
     data-toggle="hover" data-place="right" title="微信号：zyb_icanplay" data-style="bg-main border-main"></a>
  <a href="javascript:void(0);" class="icon-tencent-weibo button button-big text-gray border-black radius-circle margin-big-top tips" 
     data-toggle="hover" data-place="right" title="腾讯微博名：ZYaller" data-style="bg-main border-main"></a>
  <a href="javascript:void(0);" id="switchBarLink" class="icon-compress button button-big text-main border-black radius-circle margin-big-top" title="切换为两栏"></a>
  <a id="web-backtop" href="javascript:void(0);" class="icon-arrow-up win-backtop button button-big text-main border-black radius-circle margin-big-top"  title="返回顶部"></a>
</div>